:root {
  --bg-color: #9f1c19;
  --link-color: #65d1fb;
  --link-hover-color: #ff8500;
  --color-4: #05abeb;
  --color-5: #ff241f;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Droid Serif", serif;
  --main-text-color: #222222;

  --white-space: 1rem;
}


article {
    height: 400px;
    position: relative;
    display: grid;
    border-radius: 2rem;
    background-color: #F9F8F8;
    padding: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

.hide{
    display: hide;
}
